/* GENERAL SETTINGS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

.bg-orange {
  background-color: orange;
}

.bg-violet {
  background-color: violet;
}

.bg-green {
  background-color: green;
}

.bg-aqua {
  background-color: aqua;
}

.bg-gray {
  background-color: gray;
}

.bg-pink {
  background-color: pink;
}

.bg-blue {
  background-color: blue;
}

.bg-black {
  background-color: rgb(39, 39, 39);
}

.bg-red {
  background-color: red;
}

.bg-white {
  background-color: white;
}

.bg-cyan {
  background-color: cyan;
}

.bg-lightblue {
  background-color: lightblue;
}

.container {
  margin: 0 auto;
  width: 900px;
}

.flex {
  display: flex;
}

.border-dashed {
  border: 1px dashed black;
}

.gap-4 {
  gap: 8px;
}

.padding-4 {
  padding: 8px;
}

.row-2 {
  flex-basis: calc(100% / 12 * 2);
}

.row-4 {
  flex-basis: calc(100% / 12 * 4);
}

.row-8 {
  flex-basis: calc(100% / 12 * 8);
}

.row-12 {
  flex-basis: calc(100% / 12 * 12);
}

.h-300 {
  height: 300px;
}

.h-400 {
  height: 400px;
}

.h-600 {
  height: 600px;
}

/* HEADER */

header {
  min-height: 60px;
  align-items: center;
}

.menu {
  justify-content: space-between;
}

/* MAIN CONTENT */

.hero-container {
  height: 400px;
  justify-content: center;
  align-items: center;
}

.hero-content {
  height: 300px;
  flex-basis: 600px;
}

.section-container {
  height: 400px;
  justify-content: center;
  align-items: center;
}

.big-section-container {
  height: 800px;
  justify-content: center;
  align-items: center;
}

/* FOOTER */

.big-footer-container {
  height: 600px;
  justify-content: center;
  align-items: center;
}

.footer-container {
  height: 100px;
  justify-content: space-between;
  align-items: center;
}

.footer-hr {
  height: 2px;
}
