/* GENERAL SETTINGS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

.bg-orange {
  background-color: orange;
}

.bg-violet {
  background-color: violet;
}

.bg-green {
  background-color: green;
}

.bg-aqua {
  background-color: aqua;
}

.bg-pink {
  background-color: pink;
}

.bg-blue {
  background-color: blue;
}

.bg-red {
  background-color: red;
}

.bg-cyan {
  background-color: cyan;
}

.bg-lightblue {
  background-color: lightblue;
}

.container {
  margin: 0 auto;
  width: 700px;
}

.flex {
  display: flex;
}

.border-dashed {
  border: 1px dashed black;
}

.gap-4 {
  gap: 8px;
}

.padding-4 {
  padding: 8px;
}

/* HEADER */

header {
  min-height: 60px;
  align-items: center;
}

.menu {
  justify-content: space-between;
}
